################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnoGame/v16/ipch/AutoPCH/33b4144db1ad8a71/MAIN.ipch
